.elementor-kit-211885{--e-global-color-primary:#000000;--e-global-color-secondary:#4628DD;--e-global-color-text:#000000;--e-global-color-accent:#56CEB2;--e-global-color-3f29777:#E8E3D4;--e-global-color-88275b6:#4628DD;--e-global-color-d1cf438:#27DCE0;--e-global-color-19ff78e:#56CEB2;--e-global-color-73ad163:#A428DD;--e-global-color-0c6498f:#DBA02A;--e-global-color-801f879:#F6F3E6;--e-global-color-340abd3:#F6E6E6;--e-global-color-230e1e3:#E6F5F6;--e-global-color-0a83b43:#EEF6E6;--e-global-color-c9f7a90:#FFFFFF;--e-global-color-bd5ebc2:#FFF1D3;--e-global-color-0bdc1cb:#CDFDFF;--e-global-color-e988166:#F6E6E6;--e-global-color-b419a80:#595D63;--e-global-color-1b0a1d6:#939393;--e-global-color-f61f578:#05192B;--e-global-color-cf466ce:#F8F6FE;--e-global-color-c4b3053:#969EA6;--e-global-color-b2f95ba:#484848;--e-global-color-3ea1e12:#F8F7F3;--e-global-color-d0d0036:#F8F7F3;--e-global-color-202f238:#F5F4EE;--e-global-color-c26c5fc:#245FA5;--e-global-color-95e2f42:#294A68;--e-global-color-65ff9ca:#287BDD;--e-global-color-8bbff78:#DBA02A;--e-global-color-ff735ca:#0089D6;--e-global-color-df23e7c:#393939;--e-global-color-82fd3bc:#FF9900;--e-global-color-7defe96:#107C41;--e-global-color-13db08a:#F3CB70;--e-global-typography-primary-font-family:"Urbanist";--e-global-typography-primary-font-weight:bold;--e-global-typography-secondary-font-family:"Urbanist";--e-global-typography-secondary-font-weight:normal;--e-global-typography-text-font-family:"Rubik";--e-global-typography-text-font-weight:normal;--e-global-typography-accent-font-family:"Urbanist";--e-global-typography-accent-font-weight:bold;--e-global-typography-8cdd607-font-family:"Rubik";--e-global-typography-8cdd607-font-size:22px;--e-global-typography-8cdd607-font-weight:300;--e-global-typography-06c43ff-font-family:"Rubik";--e-global-typography-06c43ff-font-size:18px;--e-global-typography-06c43ff-font-weight:400;--e-global-typography-06c43ff-line-height:26px;--e-global-typography-cd5fe24-font-family:"Rubik";--e-global-typography-cd5fe24-font-size:16px;--e-global-typography-cd5fe24-font-weight:400;--e-global-typography-cd5fe24-line-height:24px;--e-global-typography-280ba09-font-family:"Rubik";--e-global-typography-280ba09-font-size:16px;--e-global-typography-280ba09-font-weight:500;--e-global-typography-280ba09-line-height:20px;--e-global-typography-c51b97d-font-family:"Rubik";--e-global-typography-c51b97d-font-size:14px;--e-global-typography-c51b97d-font-weight:400;--e-global-typography-c51b97d-line-height:24px;--e-global-typography-af656c6-font-family:"Rubik";--e-global-typography-af656c6-font-size:14px;--e-global-typography-af656c6-font-weight:500;--e-global-typography-af656c6-line-height:20px;--e-global-typography-161bb55-font-family:"Rubik";--e-global-typography-161bb55-font-size:12px;--e-global-typography-161bb55-font-weight:400;--e-global-typography-161bb55-line-height:20px;--e-global-typography-69c46d7-font-size:12px;--e-global-typography-69c46d7-font-weight:600;--e-global-typography-69c46d7-line-height:20px;font-family:"Rubik", Sans-serif;font-size:15px;}.elementor-kit-211885 a{color:var( --e-global-color-secondary );}.elementor-kit-211885 a:hover{color:var( --e-global-color-secondary );}.elementor-kit-211885 h1{color:var( --e-global-color-primary );font-family:"Urbanist", Sans-serif;font-size:42px;font-weight:bold;font-style:normal;text-decoration:none;letter-spacing:1px;}.elementor-kit-211885 h2{color:var( --e-global-color-primary );font-family:"Urbanist", Sans-serif;font-size:32px;font-weight:normal;}.elementor-kit-211885 h3{color:var( --e-global-color-primary );font-family:"Urbanist", Sans-serif;font-size:22px;font-weight:bold;}.elementor-kit-211885 h4{color:#4A4949;font-family:"Urbanist", Sans-serif;font-size:22px;}.elementor-kit-211885 button,.elementor-kit-211885 input[type="button"],.elementor-kit-211885 input[type="submit"],.elementor-kit-211885 .elementor-button{font-family:var( --e-global-typography-280ba09-font-family ), Sans-serif;font-size:var( --e-global-typography-280ba09-font-size );font-weight:var( --e-global-typography-280ba09-font-weight );line-height:var( --e-global-typography-280ba09-line-height );letter-spacing:var( --e-global-typography-280ba09-letter-spacing );word-spacing:var( --e-global-typography-280ba09-word-spacing );color:var( --e-global-color-c9f7a90 );background-color:var( --e-global-color-secondary );border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-secondary );border-radius:5px 5px 5px 5px;}.elementor-kit-211885 button:hover,.elementor-kit-211885 button:focus,.elementor-kit-211885 input[type="button"]:hover,.elementor-kit-211885 input[type="button"]:focus,.elementor-kit-211885 input[type="submit"]:hover,.elementor-kit-211885 input[type="submit"]:focus,.elementor-kit-211885 .elementor-button:hover,.elementor-kit-211885 .elementor-button:focus{color:var( --e-global-color-c9f7a90 );background-color:var( --e-global-color-88275b6 );border-style:solid;border-width:1px 1px 1px 1px;border-color:#4628DD33;border-radius:5px 5px 5px 5px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1200px;}.e-con{--container-max-width:1200px;}.elementor-widget:not(:last-child){margin-bottom:10px;}.elementor-element{--widgets-spacing:10px;}{}h1.entry-title{display:var(--page-title-display);}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1120px){.elementor-kit-211885{--e-global-typography-8cdd607-line-height:26px;}.elementor-kit-211885 button,.elementor-kit-211885 input[type="button"],.elementor-kit-211885 input[type="submit"],.elementor-kit-211885 .elementor-button{font-size:var( --e-global-typography-280ba09-font-size );line-height:var( --e-global-typography-280ba09-line-height );letter-spacing:var( --e-global-typography-280ba09-letter-spacing );word-spacing:var( --e-global-typography-280ba09-word-spacing );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-211885{--e-global-typography-8cdd607-font-size:20px;--e-global-typography-06c43ff-font-size:16px;--e-global-typography-cd5fe24-font-size:14px;--e-global-typography-280ba09-font-size:14px;}.elementor-kit-211885 h1{font-size:32px;}.elementor-kit-211885 h2{font-size:22px;}.elementor-kit-211885 button,.elementor-kit-211885 input[type="button"],.elementor-kit-211885 input[type="submit"],.elementor-kit-211885 .elementor-button{font-size:var( --e-global-typography-280ba09-font-size );line-height:var( --e-global-typography-280ba09-line-height );letter-spacing:var( --e-global-typography-280ba09-letter-spacing );word-spacing:var( --e-global-typography-280ba09-word-spacing );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//*surlignement des titres entreprise*/
span.surlignement {
    position: relative;
    z-index: 1;
}
span.surlignement::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #f9cb5e82;
  bottom: 0;
  left: 0;
  height: 15px;
  z-index: -1;
}

.bleuelectric{
    color: #4628DD;
}

/* modification des intro  H2 des articles */

.single-post h2 {
    font-size: 18px;
    font-weight: normal!important; 
    font-family: Rubik!important;
}


/*transition header*/
.elementskit-megamenu-panel {
    transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96)!important;
}

.regular{
    font-weight: 400;
}
.bolditalic{
    font-weight: 400;
    font-style: italic;
}


body {
   overflow-x: hidden; 
}

/* couleurs excel*/
.vertexcel{
    color: #107C41;
}

#article h2 {
    font-size: 18px;
    font-weight: 500!important;
    font-family: Rubik!important;
}

.elementor-align-icon-right {
    margin-top: 2px;
}

.elementor-align-icon-left {
    margin-top: 2px;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://datascientest.com/wp-content/uploads/2022/02/Urbanist-Regular-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://datascientest.com/wp-content/uploads/2022/02/Urbanist-Italic-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://datascientest.com/wp-content/uploads/2022/02/Rubik-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */